    .boxx {
    box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
    min-height: 20rem;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: #464775;
  }
  
  .text{
    margin-left: 20px;
    color:white;
    font-size: 20px;
  }
  
  button {
    float: right;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 20px;
    border-color: white;
    cursor: pointer;
  }
span.mic{
  height: 10px;
  width: 10px;
}
span.switch{
  height: 10px;
  width: 10px;
}