.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #131212;
    .upperSection{
        display: flex;
        flex-direction:column;
        align-items: center;
        color:white;
        .MuiSvgIcon-root{
            margin: 15px 0;
            fill: rgb(250, 250, 249);
        }
        a{
            text-decoration: none;
        }
    }
    .upperSection> a > div:hover{
        background-color: rgb(109, 104, 104);
    }
    .upperSection> a {
        width: 100%;
        text-align: center;
    }
    .lowerSection{
        display: flex;
        flex-direction:column;
        align-items: center;
        color: white;
    }
    .btn {
        background-color: #131212;
        border: none;
        color: #131212;
        padding: 12px 16px;
        font-size: 16px;
      }
}