.header{
    display: flex;
    flex-direction: row;
    background-color: #464775;
    justify-content: space-between;
    height: 4rem;

    .searchSection{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
        justify-content: flex-start;
        text-align: center;
        margin: 0 auto;
        height: 20 px;
    }

    .right{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
        justify-content: right;
    }
    
}