.header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #4243ac;
    height: 50px;

    .left{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
    }

    .searchSection{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
    }

    .right{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
    }
    
}