.header{
    width: 100%;
    display: flex;
    background-color: #464775;
    flex: 1;
    color: white;
    padding: 6px 0px;
}
.header-menu{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.header-left-fold{
    display: flex;
    flex: 3;
    justify-content: flex-start;
    align-items: center;
}
.header-rightfold{
    display: flex;
    flex: 11;
    justify-content: space-between;
    padding-left: 50px;
}
.header-label{
    font-size: 20px;
    font-weight: 500;
    margin-left: 16px;
    justify-content: center;
    padding-right: 90px;
    padding-left: 10px;
}
.header-search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 6;
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    color: #464775;
}
.header-search input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: white;
    margin-left: 6px;
    color: #464775;
    outline: none;
}
.header-profile{
    display: flex;
    flex: 4;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
}
.header-avatar{
    height: 35px;
}
.header-avatar:hover{
    transform: scale(1.5);
}
.img{
    height: 35px;
}
.img:hover{
    transform: scale(1.5);
}